.section-top {

}

.section-top .section-top-mobile {
    display: none;
}

.section-top .section-top-mobile .header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

/* Right */
.section-top .section-top-mobile .header .header-mobile-right {
    display: flex;
    align-items: center;
}

.section-top .section-top-mobile .header .header-mobile-left .logo {
    height: 43px;
    width: 100px;
}

/* ------------------------------------------------------------------------ */
/* -------------------------------- Search -------------------------------- */
/* ------------------------------------------------------------------------ */

.section-top .section-top-mobile .search {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
    display: flex;
}

.section-top .section-top-mobile .search .search-input {
    display: block;
    padding: 10px;
    width: calc(100% - 40px);
    border: none;
    transition: var(--dimen-transition);
}

.section-top .section-top-mobile .search .search-input:focus {
    padding-right: 20px;
}

.section-top .section-top-mobile .search .search-button {
    display: block;
    padding: 7px 5px 5px 5px;
    width: 40px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}

/* ------------------------------------------------------------------------ */
/* -------------------------------- Search -------------------------------- */
/* ------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------------- */
/* -------------------------------- Navigation -------------------------------- */
/* ---------------------------------------------------------------------------- */

.section-top .section-top-mobile .navigation {
    background-color: var(--color-light);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    margin-right: -200px;
    transition: var(--dimen-transition);
}

.section-top .section-top-mobile .navigation.active {
    box-shadow: var(--color-dark) 0 0 20px 0;
    margin-right: 0;
}

.section-top .section-top-mobile .navigation .navigation-header {
    position: relative;
    background-color: var(--color-secondary);
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-top .section-top-mobile .navigation .navigation-header .profile {
    text-align: center;
}

.section-top .section-top-mobile .navigation .navigation-header .profile .image {
    border-radius: var(--dimen-circle);
    width: 100px;
}

.section-top .section-top-mobile .navigation .menu .items {
    display: flex;
    flex-direction: column;
}

.section-top .section-top-mobile .navigation .menu .items.active {
    display: flex;
}

.section-top .section-top-mobile .navigation .menu .items .item {

}

.section-top .section-top-mobile .navigation .menu .items .item.special {
}

.section-top .section-top-mobile .navigation .menu .items .item.special .link {
    background-image: linear-gradient(
            to right,
            var(--color-primary),
            var(--color-secondary)
    );
    color: var(--color-light);
    margin: 5px;
    border-radius: var(--dimen-radius);
}

.section-top .section-top-mobile .navigation .menu .items .item .link {
    display: block;
    color: var(--color-secondary);
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 5px solid transparent;
    transition: var(--dimen-transition);
}

.section-top .section-top-mobile .navigation .menu .items .item .link:hover {
    border-bottom-color: var(--color-accent);
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- Navigation -------------------------------- */
/* ---------------------------------------------------------------------------- */

@media (max-width: 992px) {
    .section-top .section-top-mobile {
        display: block;
    }
}

:root {
    --color-menu-button: var(--color-primary);
}

.section-top .section-top-mobile .header .menu-button {
    background-color: transparent;
    background-image: linear-gradient(
            to bottom,
            var(--color-menu-button) 0%,
            var(--color-menu-button) 20%,
            transparent 20%,
            transparent 40%,
            var(--color-menu-button) 40%,
            var(--color-menu-button) 60%,
            transparent 60%,
            transparent 80%,
            var(--color-menu-button) 80%,
            var(--color-menu-button) 100%
    );
    height: 30px;
    width: 30px;
    border: none;
}

.section-top .section-top-mobile .navigation .navigation-header .menu-button-close {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    color: var(--color-light);
    margin-top: 10px;
    font-size: 1.2rem;
}