.slideshow {
    height: 400px;
    overflow: hidden;
}

.slideshow .items {
    position: relative;
}

.slideshow .items .item {
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    transform: scale(1.2);
}

.slideshow .items .item.active {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
}

.slideshow .items .item .image {
    width: 100%;
    height: 400px;
}

.slideshow .items .item .title {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-light);
    padding: 20px;
    border-radius: var(--dimen-radius);
    margin-right: -100%;
    transition: 0.8s;
}

.slideshow .items .item.active .title {
    margin-right: 50px;
}